In [88]:
import pandas as pd

In [89]:
#Abrimos el dataset de peliculas
data_movies = pd.read_csv('movies_dataset.csv')

C:\Users\PERSONAL\AppData\Local\Temp\ipykernel_12844\4026849889.py:2: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  data_movies = pd.read_csv('movies_dataset.csv')

In [90]:
#Abrimos el diccionario de datos
dic_datos = pd.read_excel('Diccionario de Datos - Movies.xlsx')

In [91]:
#Miramos que hay en el diccionario
dic_datos

           Característica                                        Descripción
0                   adult  Indica si la película tiene califiación X, exc...
1   belongs_to_collection  Un diccionario que indica a que franquicia o s...
2                  budget          El presupuesto de la película, en dólares
3                  genres  Un diccionario que indica todos los géneros as...
4                homepage               La página web oficial de la película
5                      id                                  ID de la pelicula
6                 imdb_id                             IMDB ID de la pelicula
7       original_language     Idioma original en la que se grabo la pelicula
8          original_title                     Titulo original de la pelicula
9                overview                     Pequeño resumen de la película
10             popularity  Puntaje de popularidad de la película, asignad...
11            poster_path                      URL del póster de la película
12   production_companies  Lista con las compañias productoras asociadas ...
13   production_countries  Lista con los países donde se produjo la película
14           release_date                    Fecha de estreno de la película
15                revenue             Recaudación de la pelicula, en dolares
16                runtime                Duración de la película, en minutos
17       spoken_languages  Lista con los idiomas que se hablan en la peli...
18                 status  Estado de la pelicula actual (si fue anunciada...
19                tagline                Frase celebre asociadaa la pelicula
20                  title                              Titulo de la pelicula
21                  video  Indica si hay o no un trailer en video disponi...
22           vote_average         Puntaje promedio de reseñas de la pelicula
23             vote_count  Numeros de votos recibidos por la pelicula, en...

In [92]:
#Miramos una parte de el dataset peliculas
data_movies.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [93]:
# Eliminar las columnas que no serán utilizadas,
# video,imdb_id,adult,original_title,vote_count,poster_path y homepage.
data_movies.drop('video', axis=1, inplace=True)
data_movies.drop('imdb_id', axis=1, inplace=True)
data_movies.drop('adult', axis=1, inplace=True)
data_movies.drop('original_title', axis=1, inplace=True)
data_movies.drop('vote_count', axis=1, inplace=True)
data_movies.drop('poster_path', axis=1, inplace=True)
data_movies.drop('homepage', axis=1, inplace=True)

In [94]:
import ast

def fetch_name(obj):
    if isinstance(obj, str) and '{' in obj: #evalua si es tipo str y tiene un caracter {
        return ', '.join([i['name'] for i in ast.literal_eval(obj)]) #añade solo el valor de 'name' y lo retorna
    else:
        return '' #si no cumple retorna vacio

def fetch_name2(obj):
    if isinstance(obj, str) and '{' in obj: #evalua si es tipo str y tiene un caracter {
        return ', '.join([ast.literal_eval(obj).get('name', '')]) 
    else:
        return ''#si no cumple retorna vacio

In [95]:
#aplicamos a las columnas para desanidar diccionarios y listas
data_movies['genres']                = data_movies['genres'].apply(fetch_name)
data_movies['belongs_to_collection'] = data_movies['belongs_to_collection'].apply(fetch_name2)
data_movies['production_companies']  = data_movies['production_companies'].apply(fetch_name)
data_movies['production_countries']  = data_movies['production_countries'].apply(fetch_name)
data_movies['spoken_languages']      = data_movies['spoken_languages'].apply(fetch_name)

In [96]:
#revisamos los valores nulos
data_movies.isnull().sum()

belongs_to_collection        0
budget                       0
genres                       0
id                           0
original_language           11
overview                   954
popularity                   5
production_companies         0
production_countries         0
release_date                87
revenue                      6
runtime                    263
spoken_languages             0
status                      87
tagline                  25054
title                        6
vote_average                 6
dtype: int64

In [97]:
#eliminamos los valores nulos de 'release_date'
data_movies['release_date'].dropna()

0        1995-10-30
1        1995-12-15
2        1995-12-22
3        1995-12-22
4        1995-02-10
            ...
45460    1991-05-13
45462    2011-11-17
45463    2003-08-01
45464    1917-10-21
45465    2017-06-09
Name: release_date, Length: 45379, dtype: object

In [98]:
#eliminar los valores nulos de 'revenue', en 'budget' no es necesario ya que no hay
data_movies['revenue'].dropna()

0        373554033.0
1        262797249.0
2                0.0
3         81452156.0
4         76578911.0
            ...
45461            0.0
45462            0.0
45463            0.0
45464            0.0
45465            0.0
Name: revenue, Length: 45460, dtype: float64

In [99]:
#transformamos 'budget' para poder usarla para crear 'return'
data_movies['budget'] =  pd.to_numeric(data_movies['budget'], errors= 'coerce')

In [100]:
#creamos 'return'
data_movies['return']= data_movies['revenue']/data_movies['budget']

In [101]:
from datetime import datetime

In [102]:
#transformamos 'release_date' a date 
data_movies ['release_date']=pd.to_datetime(data_movies['release_date'], errors='coerce')

In [103]:
#se establece el orden de año-mes-dia
data_movies ['release_date'] = data_movies ['release_date'].dt.strftime('%Y / %m / %d')

In [104]:
#extraemos en una nueva columna el año de la columna 'release_date'
data_movies['year']= (pd.to_datetime(data_movies['release_date'], errors='coerce')).dt.year

In [105]:
#extraemos en una nueva columna el mes de la columna 'release_date'
data_movies['month'] = (pd.to_datetime(data_movies['release_date'], errors='coerce')).dt.month

In [106]:
# Diccionario para poder tener los nombre de los meses y no los numeros
meses_nombres = {
    1: 'enero',
    2: 'febrero',
    3: 'marzo',
    4: 'abril',
    5: 'mayo',
    6: 'junio',
    7: 'julio',
    8: 'agosto',
    9: 'septiembre',
    10: 'octubre',
    11: 'noviembre',
    12: 'diciembre'
}

# Reemplazar los números de la columna 'month' con los nombres de los meses
data_movies['month'] = data_movies['month'].map(meses_nombres)

In [107]:
#extraemos en una nueva columna el dia de la columna 'release_date'
data_movies ['day'] = (pd.to_datetime(data_movies['release_date'], errors='coerce')).dt.day_of_week

In [108]:
# Diccionario para poder tener los nombre de los dias y no los numeros
dias_nombres = {
    0.0: 'lunes',
    1.0: 'martes',
    2.0: 'miercoles',
    3.0: 'jueves',
    4.0: 'viernes',
    5.0: 'sabado',
    6.0: 'domingo',
    }

# Reemplazar los números de la columna 'day' con los nombres de los dias
data_movies['day'] = data_movies['day'].map(dias_nombres)

In [109]:
#reviso el tamaño final
data_movies.shape

(45466, 21)

In [110]:
#guardo el dataset final
data_movies.to_csv("data_movies.csv", index=False)